
.page-body {
    position: relative;
    z-index: $z-index-page-body;
    margin-top: $header-height-sm;
    
    @media screen and (min-width: $phablet) {
        margin-top: $header-height-lg
    }
    
    section {

        &.panel {
            height: 80vh;
            // border: 1px solid red;
        }
        
        &.anchor {
            display: block;
            position: absolute;
            visibility: hidden;
            top:-$header-height-sm-with-offset;
            
            @media screen and (min-width: $phablet) {
                top:-$header-height-lg-with-offset;
            }
        }
    }
}